<app-navbar (featureSelected)= "onNavigate($event)" #header></app-navbar>      

<div class="jumbotron text-center">
    <h1>Scientific center</h1> 
    <p>Buy your magazine today</p>
    <br>
</div>


<div id="pricing" class="container-fluid" *ngIf = "start">
    <div class="text-center">
      <h2>Choose paper</h2>
      <h4>Please choose paper where you want to add reviewers</h4>
    </div>
    <div class="row slideanim">
      <ng-container *ngFor="let paper of listPapers">
        <div class="col-sm-4 col-xs-12" style="padding-bottom: 50px; cursor: pointer;" (click) = "choosePaper(paper)">
            <div class="panel panel-default text-center">
              <div class="panel-heading">
                <h1>{{paper.title}}</h1>
              </div>
              <div class="panel-body">
                <p><strong><em>Keywords: </em></strong>{{paper.keywords}}</p>
                <p><strong><em>Abstract paper: </em></strong>{{paper.abstract_paper}}</p>
                <p><strong><em>Magazine: </em></strong>{{paper.magazine.name}}</p>
                <p><strong><em>Scientific field: </em></strong>{{paper.paper_fields.title}}</p>
                                 
              </div><br>
              
            </div>      
          </div>
      </ng-container>
    </div>
</div>

<div id="pricing" class="container-fluid" *ngIf = "!start">
    <div>
        <h1>Paper info</h1>
        <p><strong><em>Title: </em></strong>{{choosePaper.title}}</p>
        <p><strong><em>Keywords: </em></strong>{{choosePaper.keywords}}</p>
        <p><strong><em>Abstract paper: </em></strong>{{choosePaper.abstract_paper}}</p>
        <p><strong><em>Magazine: </em></strong>{{choosePaper.magazine.name}}</p>
        <p><strong><em>Scientific field: </em></strong>{{choosePaper.paper_fields.title}}</p>
        <p>
            <strong> <em>Authors: </em></strong><br>
            <ng-container *ngFor="let author of choosePaper.coauthor">
                <ng-container *ngTemplateOutlet="eng; context: makeStringAuthor(author)"></ng-container>
                <ng-template #eng let-obj='value'>
                {{obj}}
                </ng-template><br>
            </ng-container>
            
        </p>
    </div><br>
    <div style="padding-right: 5%; ">
        <div style="display:inline-block;width: 20%;">
            <select style="width: 100%;" [(ngModel)]="type">
                <option value="ALL">all</option>
                <option value="REGULAR">scientific field</option>
                <option value="MORE_LIKE_THIS">similar papers</option>
                <option value="GEO">not same area</option>
            </select>
        </div>
        <div style="display:inline-block;width: 2%;"></div>

        <button (click)="filter()">Filter</button>
        
    </div><br><br>
    <div class="text-center">
      <h2>Reviewers</h2>
    </div>
    <div class="row">
        <table>
            <tr>
                <th>#</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Username</th>
                <th>Email</th>
                <th>City</th>
                <th>State</th>
                <th>Scientific fields</th>
                <th>Add reviewer</th>
            </tr>
            <ng-container *ngFor="let r of listReviewers; let i = index;">
                <tr>
                    <td>{{i}}</td>
                    <td>{{r.first_name}}</td>
                    <td>{{r.last_name}}</td>
                    <td>{{r.username}}</td>
                    <td>{{r.email}}</td>
                    <td>{{r.city}}</td>
                    <td>{{r.state}}</td>
                    <td>
                        <ng-container *ngTemplateOutlet="eng; context: makeString(r)"></ng-container>
                        <ng-template #eng let-obj='value'>
                        {{obj}}
                        </ng-template>
                    </td>
                    <td style="text-align: center;"><img style="cursor: pointer;" src="/assets/pictures/plus.png"></td>
                </tr>
            </ng-container>
        </table>
      
    </div>
</div>
   

<!-- Image of location/map -->
<img src="/assets/pictures/magazines2.jpg" class="w3-image w3-greyscale-min" style="width:100%">