<app-navbar #header (featureSelected)= "onNavigate($event)"></app-navbar>

<div class="jumbotron text-center">
  <h1>Scientific center</h1> 
  <p>Buy your magazine today</p> 
</div>

<div *ngIf = "loaded == 'false'">
    <br>
    <div class="popup">
      <app-atom-spinner [animationDuration]="1000" [size]="160" [color]="'#ff1d5e'"></app-atom-spinner>
      <br>
      <h2>Loading...</h2>
    </div>
    <br>
</div>

<div *ngIf = "loaded == 'true'">
    <!-- Container (Pricing Section) -->
 <div id="pricing" class="container-fluid">
    <div class="text-center">
      <h2>Confirm Reviewers</h2>
      <h4>Please confirm reviewer so he can finish registration</h4>
    </div>
    <div class="row slideanim">
        <ng-container *ngFor ="let task of tasks; let index;">
              <div class="col-sm-4 col-xs-12" style="padding-bottom: 50px;">
                  <form #f="ngForm"  ngNativeValidate>
                      <div class="panel panel-default text-center">
                      <div class="panel-heading">
                          <h1>Confirm reviewer</h1>
                      </div>
                      <div class="panel-body">
                          <ng-container *ngFor="let field of task.formFields">
                              <ng-container *ngIf ="field.name !== 'Confirm status'">
                                  <p><strong>{{field.name}}: </strong> {{field.value.value}}</p>
                              </ng-container>
                          </ng-container>
                          <p><strong>Confirm status </strong> <input type="checkbox" name={{task}} ngModel></p>
                          
                      </div><br>
                      <div class="panel-footer">
                          <button class="btn btn-lg" (click)= "confirm(f.value, index)">Confirm</button>
                      </div>
                      </div> 
                  </form>
       
                </div><br>
              
        </ng-container>
    </div>
  </div>
  
  <!-- Image of location/map -->
  <img src="/assets/pictures/magazines2.jpg" class="w3-image w3-greyscale-min" style="width:100%">
  
  <footer class="container-fluid bg-4 text-center">
      <p>Scientific center</p>
      <p>@Bojana Corilic</p>
      <p>Novi Sad,Serbia 2020</p>
    </footer>
  
</div>
 