<app-navbar #header (featureSelected)= "onNavigate($event)"></app-navbar>

<div class="jumbotron text-center">
    <h1>Scientific center</h1> 
    <p>Buy your magazine today</p> 
</div>

<!-- Image of location/map -->
<img src="/assets/pictures/magazines2.jpg" class="w3-image w3-greyscale-min" style="width:100%">