<app-navbar (featureSelected)= "onNavigate($event)"></app-navbar>      

<div class="jumbotron text-center">
    <h1>Scientific center</h1> 
    <p>Buy your magazine today</p>
    <br>
    <a style="cursor: pointer;" (click) ="searchClicked()">Search</a><br><br>
    <ng-container *ngIf="clickSearch">
        <div style="padding-right: 5%; ">
            <div style="display:inline-block;width: 20%;">
                <select style="width: 100%;" [(ngModel)]="type">
                    <option value="REGULAR">REGULAR</option>
                    <option value="FUZZY">FUZZY</option>
                    <option value="PHRASE">PHRASE</option>
                    <option value="RANGE">RANGE</option>
                    <option value="PREFIX">PREFIX</option>
                </select>
            </div>
            <div style="display:inline-block;width: 2%;"></div>
    
            <div style="display:inline-block;width: 20%;">
                <select style="width: 100%;" [(ngModel)]="field">
                    <option value="title">title</option>
                    <option value="keywords">keywords</option>
                    <option value="abstract_paper">abstract paper</option>
                    <option value="magazine_name">magazine name</option>
                    <option value="field">scientific field</option>
                    <option value="text">text</option>
                    <option value="authors.first_name">authors first name</option>
                    <option value="authors.last_name">authors last name</option>
    
                </select>
            </div>
            <div style="display:inline-block;width: 2%;"></div>
    
            <div style="display:inline-block;width: 50%;">
                <input style="width: 100%;" type="text" placeholder="Search..." [(ngModel)]="value">
            </div>
            <br>
            <button (click)="search()">Search</button>
            
        </div><br><br>
    </ng-container>

    <a style="cursor: pointer;" (click) ="logicalClicked()">Logical search</a>
    <ng-container *ngIf="clickLogical">
        <br><br>
        <div>
            <button (click) = "clickField('title')">title</button>
            <button (click) = "clickField('keywords')">keywords</button>
            <button (click) = "clickField('abstract_paper')">abstract paper</button>
            <button (click) = "clickField('magazine_name')">magazine name</button>
            <button (click) = "clickField('field')">scientific field</button>
            <button (click) = "clickField('text')">text</button>
            <button (click) = "clickField('authors.first_name')">authors first name</button>
            <button (click) = "clickField('authors.last_name')">authors last name</button>

            <br><br>
            <button (click) = "clickOperation('AND')">AND</button>
            <button (click) = "clickOperation('OR')">OR</button>
            <button (click) = "clickOperation('NOT')">NOT</button>

            <br><br>

            <button (click) = "undo()" *ngIf = "!firstField">Undo</button>

            <br><br>

            <p>{{queryLogical}}</p>
            <br>
            <p *ngIf = "fieldAdded && !operationAdded">Value: {{logicValue}}</p>
            <input type="text" placeholder="Value..." *ngIf = "fieldAdded && !operationAdded" [(ngModel)]="logicValue" (ngModelChange)="valuechange($event)">
            <a style="cursor: pointer;" (click) = "addValue()" *ngIf = "fieldAdded && !operationAdded">
                <i class="fa fa-check"></i>
            </a><br><br>
            <button *ngIf="logicButton" (click)= "logicSearch()">Search</button>
        </div>
       
       
    </ng-container>

    
</div>
<div class="row" style="width: 90%;">
    <ng-container *ngFor="let paper of listSearch">
        <div style="padding-bottom: 50px; padding-left: 50px;width: 100%;">
            <div class="panel panel-default text-center" style="width: 100%;">
                <div class="panel-body">
                    <h1>{{paper.title}}</h1> <br>
                    <p><strong><em>Keywords: </em></strong>{{paper.keywords}}</p>
                    <p><strong><em>Abstract paper: </em></strong>{{paper.abstract_paper}}</p>
                    <p><strong><em>Magazine: </em></strong>{{paper.magazine_name}}</p>
                    <p><strong><em>Scientific field: </em></strong>{{paper.field}}</p>
                    <p>
                        <strong> <em>Authors: </em></strong><br>
                        <ng-container *ngFor="let author of paper.authors">
                            <ng-container *ngTemplateOutlet="eng; context: makeStringAuthor(author)"></ng-container>
                            <ng-template #eng let-obj='value'>
                            {{obj}}
                            </ng-template><br>
                        </ng-container>
                    </p>
                    <div [innerHTML]="paper.hightlight"></div>
                    <br>
                    <div class="row text-right">
                        <div class="col-sm-4">
                          <span class="glyphicon glyphicon-globe logo slideanim"></span>
                        </div>
                        <div class="col-sm-8" style="padding-right: 50px;">
                            <ng-container *ngIf ="paper.access == 'WITH_SUBSCRIPTION'">
                                <img src="/assets/pictures/buy.png" class="back" title="Buy">

                            </ng-container>
                            <ng-container *ngIf ="paper.access == 'OPEN_ACCESS'">
                                <img src="/assets/pictures/download.png" class="back" title="Download" (click) = "download(paper)">
                            </ng-container>
                        </div>
                    </div>
                    <br>
                     
                </div>

            </div>
        </div><br>

    </ng-container>
</div>

<!-- Image of location/map -->
<img src="/assets/pictures/magazines2.jpg" class="w3-image w3-greyscale-min" style="width:100%">