

<header class="animated fadeInDown" id="navbar">
  <nav class="navbar navbar-dark bg-dark mb-5">
    <a class="navbar-brand" style="cursor: pointer;" (click)= "homeClick()">Scientific center</a>
    <!-- Guest mode -->
    
    <div class="navbar-expand mr-auto" *ngIf = "(showView) == 'guest'">
      <div class="navbar-nav">
        <a class="nav-item nav-link" style="cursor: pointer;" href="/search/reviewer">Search reviewer</a>
      </div>
    </div>
    <div class="navbar-expand ml-auto navbar-nav" *ngIf = "(showView) == 'guest'">
      <div class="navbar-nav">
        <a class="nav-item nav-link" style="cursor: pointer;" (click) = "clickButtonRegistration()">
          <i class="fa fa-registered"></i>
        </a>
        <a class="nav-item nav-link" style="cursor: pointer;" (click) = "clickButtonLogin()">
          <i class="fa fa-sign-in"></i>
        </a>
      </div>
    </div>
    <!-- Finish guest mode -->
  
    <!-- Admin mode -->
    <div class="navbar-expand mr-auto" *ngIf = "(showView) == 'admin'">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" style="cursor: pointer;" (click)= "confirmReviewers()">Confirm Reviewers</a>
        <a class="nav-item nav-link" style="cursor: pointer;" (click)= "activateMagazine()">Activate magazine</a>
      </div>
    </div>
    <div class="navbar-expand ml-auto navbar-nav" *ngIf = "(showView) == 'admin'">
      <div class="navbar-nav">
       
        <a class="nav-item nav-link" style="cursor: pointer;" (click) = "clickButtonSignOut()">
          <i class="fa fa-sign-out"></i>
        </a>
      </div>
    </div>
  
    <!-- Finish admin mode -->
  
    <!-- Author mode -->
    <div class="navbar-expand mr-auto" *ngIf = "(showView) == 'author'">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/author">Home</a>
        <a class="nav-item nav-link" href="/papers">Papers</a>
        <a class="nav-item nav-link" href = "/publish/paper/no">Publish paper</a>
        <a class="nav-item nav-link" href="/correct/paper">Correct paper</a>
      </div>
    </div>
    <div class="navbar-expand ml-auto navbar-nav" *ngIf = "(showView) == 'author'">
      <div class="navbar-nav">
       
        <a class="nav-item nav-link" style="cursor: pointer;" (click) = "clickButtonSignOut()">
          <i class="fa fa-sign-out"></i>
        </a>
      </div>
    </div>
  
    <!-- Finish author mode -->
  
    <!-- Editor mode -->
    <div class="navbar-expand mr-auto" *ngIf = "(showView) == 'editor'">
      
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/editor">Home</a>
        <a class="nav-item nav-link" style="cursor: pointer;" (click)="addMagazineClicked()">Add Magazine</a>
        <a class="nav-item nav-link" style="cursor: pointer;" href="/paper/check/thematic">Suitability paper</a>
        <a class="nav-item nav-link" style="cursor: pointer;" href="/paper/format">Format paper</a>
        <a class="nav-item nav-link" style="cursor: pointer;" href="/add/reviewer/paper">Add reviewer paper</a>
        <a class="nav-item nav-link" style="cursor: pointer;" href="/do/review">Review paper</a>
        <a class="nav-item nav-link" style="cursor: pointer;" href="/accept/paper">Accept paper</a>
      </div>
      
    </div>
    <div class="navbar-expand ml-auto navbar-nav" *ngIf = "(showView) == 'editor'">
      <div class="navbar-nav">
       
        <a class="nav-item nav-link" style="cursor: pointer;" (click) = "clickButtonSignOut()">
          <i class="fa fa-sign-out"></i>
        </a>
      </div>
    </div>
  
    <!-- Finish editor mode -->


    <!-- Reviewer mode -->
    <div class="navbar-expand mr-auto" *ngIf = "(showView) == 'reviewer'">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/reviewer">Home</a>
        <a class="nav-item nav-link" style="cursor: pointer;" href="/do/review">Review paper</a>
      </div>
    </div>
    <div class="navbar-expand ml-auto navbar-nav" *ngIf = "(showView) == 'reviewer'">
      <div class="navbar-nav">
       
        <a class="nav-item nav-link" style="cursor: pointer;" (click) = "clickButtonSignOut()">
          <i class="fa fa-sign-out"></i>
        </a>
      </div>
    </div>
  
    <!-- Finish reviewer mode -->
  </nav>
</header>