<app-navbar #header (featureSelected)= "onNavigate($event)"></app-navbar>

<div class="jumbotron text-center">
  <h1>Scientific center</h1> 
  <p>Buy a magazine today</p> 
  <form>
    <div class="input-group">
      <input type="email" class="form-control" size="50" placeholder="Search for paper" required>
      <div class="input-group-btn">
        <button type="button" class="btn btn-danger">Search</button>
      </div>
    </div>
  </form>
</div>

<div *ngIf = "loaded == 'false'">
  <br>
  <div class="popup">
    <app-atom-spinner [animationDuration]="1000" [size]="160" [color]="'#ff1d5e'"></app-atom-spinner>
    <br>
    <h2>Loading...</h2>
  </div>
  <br>
</div>

<div *ngIf = "loaded == 'true'">
  <div class="row slideanim">
    <ng-container *ngFor = "let p of listPapers">
      <div class=".col-sm-1" style="padding-bottom: 50px;padding-left: 50px;">
        <div class="panel panel-default text-center">
          <div class="panel-heading">
            <h1>{{p.title}}</h1>
          </div>
          <div class="panel-body">
            <p><strong>Abstract: </strong> {{p.abstract_paper}}</p>
            <p><strong>Keywords:</strong> {{p.keywords}}</p>
            <p><strong>Paper field:</strong> {{p.paper_fields.title}}</p>
  
            <pdf-viewer src="/assets/papers/{{p.filename}}.pdf"></pdf-viewer>
  
          </div><br>
        
        </div>      
      </div>
    </ng-container>
   
    
  </div>
  
  <!-- Image of location/map -->
  <img src="/assets/pictures/magazines2.jpg" class="w3-image w3-greyscale-min" style="width:100%">
  
  <footer class="container-fluid bg-4 text-center">
    <p>Scientific center</p>
    <p>@Bojana Corilic</p>
    <p>Novi Sad,Serbia 2020</p>
  </footer>
  
  
</div>

