<div *ngIf = "view == 'firstPage'">
  <h1 align="center">Registration</h1>
  <h3>Please enter your info below</h3>
  <form #f="ngForm" (ngSubmit)="f.form.valid && onNext(f.value)" ngNativeValidate>
  
    <div *ngFor="let field of formFields">
        <label for={{field.name}}>{{field.name}}</label>
        <input type="text" name={{field.name}} ngModel  *ngIf="field.value.type=='string' 
        && field.name!= 'Password' && field.name!= 'Title' " required >
        <input type="text" name={{field.name}} ngModel  *ngIf="field.name == 'Title' " >
        <input type="password" name={{field.name}} ngModel  *ngIf="field.value.type=='string' && 
        (field.name == 'Password')" required>
        <br><input type="checkbox" name={{field.name}} ngModel  *ngIf="field.value.type=='boolean'">
        <input type="number" name={{field.name}} ngModel  *ngIf="field.value.type=='long'" required>
    </div>
    
    <div class="buttons">
      <button class="cancelbtn" (click)="cancelClicked()">Cancel</button>
    </div>
    <div class="buttons" style="padding-left: 20px;">
      <button class="submit">Next</button>
    </div>
  </form>
  </div>

  <div *ngIf = "view == 'secondPage'">
    <h1 align="center">Add scientific area</h1>
    <form #f="ngForm"  ngNativeValidate>

      <div *ngFor="let item of createRange(); let index;">
        <div *ngFor="let field of formFieldsSecond">
          <ng-container *ngIf ="field.value.type == 'enum' && field.name == 'Scientific area'">
            <label for={{field.name}}>{{field.name}}</label>
            <select name="{{index}}" ngModel *ngIf="field.value.type=='enum'">
              <option *ngFor="let val of enumValues" [ngValue]=val>
                {{val.title}}
              </option>
            </select>
          </ng-container> 
        </div>   
      </div>
      
      <div class="buttons">
        <button class="cancelbtn" (click)="cancelClicked()">Cancel</button>
      </div>
      <div class="buttons" style="padding-left: 20px;">
        <button class="submit" (click)="onSubmit(f.value)">Save</button>
      </div>
    </form>
    </div>

    <div *ngIf = "view == 'thirdPage'">
      <h1 align="center">Correct data</h1>
      <h3>Please correct your data for registration</h3>
      <form #f="ngForm" (ngSubmit)="f.form.valid && onNext(f.value)" ngNativeValidate>
      
        <div *ngFor="let field of formFields">
            <ng-container *ngIf = "field.name!= 'all_scientific_area' && field.name!= 'scientific_area_list'
             && field.name!= 'isOK'">
              <label for={{field.name}}>{{field.name}}</label>
            </ng-container>
            
            <input type="text" name={{field.name}} ngModel = "{{field.value.value}}"  *ngIf="field.value.type=='string' 
            && field.name!= 'Password'" required >
            <input type="password" name={{field.name}} ngModel= "{{field.value.value}}"  *ngIf="field.value.type=='string' && 
            (field.name == 'Password')" required>
            <br><input type="checkbox" name={{field.name}} ngModel= "{{field.value.value}}"  *ngIf="field.value.type=='boolean'">
            <input type="number" name={{field.name}} ngModel= "{{field.value.value}}"  *ngIf="field.value.type=='long'" required>
        </div>
        
        <div class="buttons">
          <button class="cancelbtn" (click)="cancelClicked()">Cancel</button>
        </div>
        <div class="buttons" style="padding-left: 20px;">
          <button class="submit">Next</button>
        </div>
      </form>
      </div>