
input[type=text], [type=number]{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=password], select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

button.submit {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 90%;

    
}

button.submit:hover {
    background-color: #45a049;
}


  /* Extra styles for the cancel button */
  button.cancelbtn {
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 90%;
    background-color: #f44336;
    color: white;
  }

  button.cancelbtn:hover {
    background-color: #bb4239;
}


  div.buttons{
    float: left;
    cursor: pointer;
    width: 50%;
    
  }

  input[type=checkbox] {
    height: 20px;
    width: 20px;
    border: 1px solid #34495E;
    border-radius: 4px;
    outline: none;
    transition-duration: 0.3s;
    background-color: rgb(229, 241, 236);
    cursor: pointer;
  }


