<app-navbar #header (featureSelected)= "onNavigate($event)"></app-navbar>

<div class="jumbotron text-center">
  <h1>Scientific center</h1> 
  <p>Buy a magazine today</p> 
  <form>
    <div class="input-group">
      <input type="email" class="form-control" size="50" placeholder="Search magazine" required>
      <div class="input-group-btn">
        <button type="button" class="btn btn-danger">Search</button>
      </div>
    </div>
  </form>
</div>

<div *ngIf = "loaded == 'false'">
  <br>
  <div class="popup">
    <app-atom-spinner [animationDuration]="1000" [size]="160" [color]="'#ff1d5e'"></app-atom-spinner>
    <br>
    <h2>Loading...</h2>
  </div>
  <br>
</div>

<div *ngIf="loaded == 'true'">
  <!-- Container (About Section) -->
  <div id="about" class="container-fluid text-center">
    <h2>Magazines</h2>
    <h4>See the price and buy a magazine today! </h4>
    <br>
    <div class="row slideanim">
      <ng-container *ngFor ="let m of listNotSubscribe;index as i">
        <ng-container *ngIf = "i < 9">
          <div class="col-sm-4" style="padding-bottom: 50px;">
            <span class="glyphicon glyphicon-off logo-small"></span>
            <h4><strong>{{m.name}}</strong></h4>
            <p> ISSN number: {{m.issn}}</p>
          </div>
        </ng-container>
      </ng-container>
  </div>
  <div class="row text-right">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-globe logo slideanim"></span>
    </div>
    <div class="col-sm-8 slideanim">
      <a class="back" href="/magazine"><strong>See more and buy magazine ...</strong></a><br>
    </div>
  </div>
  </div>

  <div class="container-fluid bg-grey text-center">
    <h2>Free magazines </h2><br>
    <h4>Open access magazines</h4><br>
    <div class="row slideanim">
      <ng-container *ngFor ="let m of listOpenAccess;index as i">
        <ng-container *ngIf = "i < 9">
          <div class="col-sm-4" style="padding-bottom: 50px;">
            <span class="glyphicon glyphicon-off logo-small"></span>
            <h4><strong>{{m.name}}</strong></h4>
            <p> ISSN number: {{m.issn}}</p>
          </div>
        </ng-container>
      </ng-container>
    </div>
    <div class="row text-right">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-globe logo slideanim"></span>
      </div>
      <div class="col-sm-8 slideanim">
        <a class="back" href="#"><strong>See more ...</strong></a><br>
      </div>
    </div>
  </div>

  <!-- Container (Pricing Section) -->
  <div id="pricing" class="container-fluid">
    <div class="text-center">
      <h2>Subscribe to magazine</h2>
      <h4>Choose a magazine you want to subscribe to</h4>
    </div>
    <div class="row slideanim">
        <ng-container *ngFor ="let m of listNotSubscribe;index as i">
          <ng-container *ngFor ="let price of listPrices">
            <ng-container *ngIf = "m.uuid == price.uuid">
              <ng-container *ngIf = "i < 6">
                <div class="col-sm-4 col-xs-12" style="padding-bottom: 50px;">
                  <div class="panel panel-default text-center">
                    <div class="panel-heading">
                      <h1>{{m.name}}</h1>
                    </div>
                    <div class="panel-body">
                      <p><strong>ISSN number:</strong> {{m.issn}}</p>
                      <p><strong>Main editor:</strong> {{m.editorialBoard.main_editor.first_name}}  {{m.editorialBoard.main_editor.last_name}}</p>
                      <p><strong>Scientific fields:</strong></p>
                      <ng-container *ngTemplateOutlet="eng; context: makeString(m)"></ng-container>
                      <ng-template #eng let-obj='value'>
                        {{obj}}
                    </ng-template>
                    </div><br>
                    <div class="panel-footer">
                      <h3>${{price.price}}</h3>
                      <h4>per month</h4>
                      <button class="btn btn-lg" (click)= "subscription(m.id)">Subscribe</button>
                    </div>
                  </div>      
                </div><br>
              </ng-container> 
            </ng-container>
          </ng-container>
            
        </ng-container>
    </div>
    <div class="row text-right">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-globe logo slideanim"></span>
      </div>
      <div class="col-sm-8 slideanim">
        <a class= "back" href="/subscription"><strong>See more and subscribe to a magazine ...</strong></a><br>
      </div>
    </div>
  </div>


  <!-- Container (Portfolio Section) -->
  <div id="portfolio" class="container-fluid text-center bg-grey">
    <h2>Your subscription</h2><br>
    <h4>What we have created</h4>
    
    <div class="row slideanim">
      <ng-container *ngFor ="let m of listSubscribe;index as i">
        <ng-container *ngIf = "i < 6">
          <div class="col-sm-4 col-xs-12" style="padding-bottom: 50px;">
            <div class="panel panel-default text-center">
              <div class="panel-heading">
                <h1>Your subscription</h1>
              </div>
              <div class="panel-body">
                <p><strong>Magazine title: </strong> {{m.magazine.name}}</p>
                <p><strong>ISSN number:</strong> {{m.magazine.issn}}</p>
                <p><strong>Main editor:</strong> {{m.magazine.editorialBoard.main_editor.first_name}}  {{m.magazine.editorialBoard.main_editor.last_name}}</p>
                <p><strong>Scientific fields:</strong></p>
                <ng-container *ngTemplateOutlet="eng; context: makeString(m.magazine)"></ng-container>
                <ng-template #eng let-obj='value'>
                  {{obj}}
                </ng-template>
              </div><br>
              <div class="panel-footer">
                <button class="btn btn-lg" (click)= "unsubscribe(m)">Unsubscribe</button>
              </div>
            </div>      
          </div><br>
        </ng-container>      
      </ng-container>
    </div>
  </div>

  <!-- Container (Services Section) -->
  <div id="services" class="container-fluid text-center">
    <h2>Your Papers</h2>
    <h4>Papers that you published</h4>
    <br>
    <div class="row slideanim">
      <ng-container *ngFor = "let p of listPapers">
        <div class="col-sm-4" style="padding-bottom: 50px;">
          <span class="glyphicon glyphicon-off logo-small"></span>
          <h4>{{p.title}}</h4>
          <p>{{p.abstract_paper}}</p>
        </div>
      </ng-container>
    
      
    </div>
    <br><br>
  
    <div class="row text-right">
      <div class="col-sm-4">
        <span class="glyphicon glyphicon-globe logo slideanim"></span>
      </div>
      <div class="col-sm-8 slideanim">
        <a class="back" href="/papers"><strong>See more...</strong></a><br>
      </div>
    </div>
  </div>

  <!-- Container (Contact Section) -->
  <div id="contact" class="container-fluid bg-grey">
    <h2 class="text-center">CONTACT</h2>
    <div class="row">
      <div class="col-sm-5">
        <p>Contact us and we'll get back to you within 24 hours.</p>
        <p><span class="glyphicon glyphicon-map-marker"></span> Chicago, US</p>
        <p><span class="glyphicon glyphicon-phone"></span> +00 1515151515</p>
        <p><span class="glyphicon glyphicon-envelope"></span> myemail@something.com</p>
      </div>
      <div class="col-sm-7 slideanim">
        <div class="row">
          <div class="col-sm-6 form-group">
            <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
          </div>
          <div class="col-sm-6 form-group">
            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
          </div>
        </div>
        <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
        <div class="row">
          <div class="col-sm-12 form-group">
            <button class="btn btn-default pull-right" type="submit">Send</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Image of location/map -->
  <img src="/assets/pictures/magazines2.jpg" class="w3-image w3-greyscale-min" style="width:100%">

  <footer class="container-fluid bg-4 text-center">
    <p>Scientific center</p>
    <p>@Bojana Corilic</p>
    <p>Novi Sad,Serbia 2020</p>
  </footer>
  

</div>


