
<app-navbar #header (featureSelected)= "onNavigate($event)"></app-navbar>

<div class="jumbotron text-center">
  <h1>Scientific center</h1> 
  <p>Buy your magazine today</p> 
</div>

 <!-- Container (Pricing Section) -->
 <div id="pricing" class="container-fluid">
  <div class="text-center">
    <h2>Add number of reviewers</h2>
    <h4>Please add number of reviewers</h4>
  </div>
  <div class="row slideanim">
    <ng-container *ngFor ="let task of tasksNumber; let index;">
      <div class="col-md-8" style="padding-bottom: 50px;">
        <form #f="ngForm"  ngNativeValidate>
            <div class="panel panel-default text-center">
            <div class="panel-heading">
                <h1>Add number of reviewers</h1>
            </div>
            <div class="panel-body">
                <br>
                <ng-container *ngFor="let field of task.formFields">
                  <ng-container *ngIf ="field.name == 'Title'">
                    <p><strong>{{field.name}} of paper: </strong> {{field.value.value}}</p>
                  </ng-container>

                  <ng-container *ngIf ="field.name == 'list_all_reviewers'">
                    <p><strong>Reviewers available: </strong></p>
                    <ng-container *ngFor ="let e of field.value.value, let i = index;">
                      <p>Name: {{e.first_name}} {{e.last_name}}</p>
                      <p>Username: {{e.username}}</p>
                      <br>
                    </ng-container>
                    <ng-container *ngIf="field.value.value.length <= 2">
                      <p><strong>Min value to enter: </strong> {{field.value.value.length}}</p>
                      <p><strong>Max value to enter: </strong> {{field.value.value.length}}</p>
                    </ng-container> 
                    <ng-container *ngIf="field.value.value.length > 2">
                      <p><strong>Min value to enter: </strong> 2</p>
                      <p><strong>Max value to enter: </strong> {{field.value.value.length}}</p>
                    </ng-container> 
                  </ng-container>

                  <ng-container *ngIf ="field.name == 'Number of reviewers for paper'">
                    <br>
                    <strong><label>{{field.name}} :</label></strong><br>
                    <input type="number" name={{field.name}} ngModel required>

                    <br>
                  </ng-container>
                </ng-container>

                <br>                
            </div><br>
            <div class="panel-footer">
                <button class="btn btn-lg" (click)= "confirmNumber(f.value, index)">Confirm</button>
            </div>
            </div> 
        </form>

      </div><br>
          
    </ng-container>
  </div>
</div>


<div class="container-fluid bg-grey text-center">
  <div class="text-center">
    <h2>Add reviewers</h2>
    <h4>Please add reviewers so they can review paper</h4>
  </div>
  <div class="row slideanim">
    <ng-container *ngFor ="let task of tasksReviewers; let index;">
      <div class="col-md-8" style="padding-bottom: 50px;">
        <form #f="ngForm"  ngNativeValidate>
            <div class="panel panel-default text-center">
            <div class="panel-heading">
                <h1>Add reviewers</h1>
            </div>
            <div class="panel-body">
                <br>
                <ng-container *ngFor="let field of task.formFields">
                  <ng-container *ngIf ="field.name == 'Title'">
                    <p><strong>{{field.name}} of paper: </strong> {{field.value.value}}</p>
                  </ng-container>

                  <ng-container *ngIf="field.name == 'list_all_reviewers'">
                    <div *ngFor="let item of createRange(index); let index;">
                      <label for={{field.name}}>Add reviewer</label><br>
                        <select name="{{index}}" ngModel >
                            <option *ngFor="let val of enumR" [ngValue]=val>
                              {{val.username}}
                            </option>            
                        </select>
                    </div>
                  </ng-container>

                </ng-container>

                <br>                
            </div><br>
            <div class="panel-footer">
              <button class="btn btn-lg" (click)= "confirmReviewer(f.value, index)">Confirm</button>
            </div>
            </div> 
        </form>

      </div><br>
          
    </ng-container>
  </div>
</div>

<div class="container-fluid">
  <div class="text-center">
    <h2>Add deadline</h2>
    <h4>Please deadline for reviewing paper</h4>
  </div>
  <div class="row slideanim">
    <ng-container *ngFor ="let task of tasksDeadline; let index;">
      <div class="col-md-8" style="padding-bottom: 50px;">
        <form #f="ngForm"  ngNativeValidate>
            <div class="panel panel-default text-center">
            <div class="panel-heading">
                <h1>Add deadline</h1>
            </div>
            <div class="panel-body">
                <br>
                <ng-container *ngFor="let field of task.formFields">
                  <ng-container *ngIf ="field.name == 'Title'">
                    <p><strong>{{field.name}} of paper: </strong> {{field.value.value}}</p>
                  </ng-container>

                  <ng-container *ngIf ="field.name == 'Deadline'">
                    <p><strong>Pick deadline for reviewing:</strong></p>
                   <input type="date" name ={{field.name}} ngModel required>
                  </ng-container>

                </ng-container>

                <br>                
            </div><br>
            <div class="panel-footer">
                <button class="btn btn-lg" (click)= "confirmDeadline(f.value, index)">Confirm</button>
            </div>
            </div> 
        </form>

      </div><br>
          
    </ng-container>
  </div>
</div>
<!-- Image of location/map -->
<img src="/assets/pictures/magazines2.jpg" class="w3-image w3-greyscale-min" style="width:100%">

