
  <app-navbar #header (featureSelected)= "onNavigate($event)"></app-navbar>

  <div class="jumbotron text-center">
    <h1>Scientific center</h1> 
    <p>Buy your magazine today</p> 
  </div>

  <div class="text-center" *ngIf="viewStart == 'first'">
    <h2><p><a style="cursor: pointer;" (click) = "showCreate()">Create paper</a></p></h2>
  </div>

  <div *ngIf = "viewStart == 'start'">
    <div id="pricing" class="container-fluid" *ngIf = "view == 'firstPage'">
      <div class="text-center">
        <h2>Publish paper</h2>
        <h4>Please choose magazine where you want to add your paper</h4>
      </div>
      <div class="row slideanim">
        <ng-container *ngFor="let field of formFields">
          <ng-container *ngIf = "field.name == 'magazine_list'">
            <ng-container *ngFor="let m of field.value.value">
              <div class="col-sm-4 col-xs-12" style="padding-bottom: 50px; cursor: pointer;" (click) = "chooseMagazine(m)">
                <div class="panel panel-default text-center">
                  <div class="panel-heading">
                    <h1>Magazine</h1>
                  </div>
                  <div class="panel-body">
                      <p><strong>Name:</strong> {{m.name}}</p>
                      <p><strong>ISSN number:</strong> {{m.issn}}</p>
                      <p><strong>Payment method:</strong> {{m.payment_method}}</p>
                      <p><strong>Scientific fields:</strong></p>
                      <ng-container *ngFor ="let f of m.magazine_fields">
                        <p>{{f.title}}</p>
  
                      </ng-container>                  
                  </div><br>
                  
                </div>      
              </div>
            </ng-container>
          </ng-container>
        </ng-container>
      </div>
    </div>
  
    <div id="pricing" class="container-fluid" *ngIf = "view == 'secondPage'">
      <div class="text-center">
        <h2>Publish paper</h2>
        <h4>Enter info about paper </h4>
      </div>
      <div class="row slideanim">
        <div class="col-md-8 " style="padding-bottom: 50px;">
          <form #f="ngForm" (ngSubmit)="f.form.valid && saveMainInfo(f.value)" ngNativeValidate>
            <div class="panel panel-default text-left">
              <div class="panel-heading text-center">
                <h1>Paper info</h1>
              </div>
              <div class="panel-body">
                <br><br>
                <ng-container *ngFor="let field of formFields">
                  <ng-container *ngIf="field.name != 'list_coauthors' && field.name != 'paper_field'
                   && field.name !='coauthors' && field.name != 'list_coauthors' ">
                    <label style="padding-right: 50px;padding-left: 20px;" for={{field.name}} 
                    *ngIf ="field.name != 'paper_fields'">{{field.name}}</label>
                    <input type="text" name={{field.name}} ngModel  *ngIf="field.value.type=='string'" required >
                    
                    <input type="checkbox" name={{field.name}} ngModel  *ngIf="field.value.type=='boolean'">
                    <input type="number" name={{field.name}} ngModel  *ngIf="field.value.type=='long'" required>
                    <ng-container *ngIf ="field.name == 'paper_fields'">
                      <label style="padding-right: 50px;padding-left: 20px;">Scientific field</label>
                      <select name="{{field.name}}" ngModel *ngIf="field.value.type=='Object'">
                        <option *ngFor="let val of enumValues" [ngValue]=val>
                          {{val.title}}
                        </option>
                      </select>
                    </ng-container><br>
                  </ng-container>
                  </ng-container>
                  <br>
  
                  <br><br>
              </div>
              <div class="panel-footer text-center">
                <button class="btn btn-lg" type="submit">Next</button>
              </div> 
            </div>
          </form>
        </div>
        
      </div>
    </div>
  
    <div id="pricing" class="container-fluid" *ngIf = "view == 'thirdPage'">
      <div class="text-center">
        <h2>Publish paper</h2>
        <h4>Add coauthors </h4>
      </div>
      <div class="row slideanim">
        <div class="col-md-8 " style="padding-bottom: 50px;">
            <div class="panel panel-default text-left">
              <div class="panel-heading text-center">
                <h1>Add coauthors</h1>
              </div>
              <div class="panel-body">
                <br><br>
                <ng-container *ngFor="let field of formFields">
                  <ng-container *ngIf="field.name == 'coauthors'">
                    <form [formGroup]="productForm">
                      <div formArrayName="time">
                        <div *ngFor="let item of Times.controls; let pointIndex=index" [formGroupName]="pointIndex">
                          <h3 align="center">Coauthor {{pointIndex}}</h3>
                          <label>First name</label>
                          <input type="text" formControlName="f_name" />
                          <label>Last name</label>
                          <input type="text" formControlName="l_name" />
                          <label>Email</label>
                          <input type="text" formControlName="email" />
                          <label>City</label>
                          <input type="text" formControlName="city" />
                          <label>State</label>
                          <input type="text" formControlName="state" />
                        </div>
                      </div>
                      <button class="button center" (click)="addCoauthors()">Add Coauthors</button>
  
                    </form>
                  </ng-container>
                </ng-container>
                  <br>
                  <br><br>
              </div>
              <div class="panel-footer text-center">
                <button class="btn btn-lg" (click) ="saveCoauthors()" type="submit" *ngIf ="moreCoauthors == true">Next</button>
                <button class="btn btn-lg" (click)="skipCoauthors()" *ngIf ="moreCoauthors == false">Skip</button>
              </div> 
            </div>
        </div>
        
      </div>
    </div>
  
    <div id="pricing" class="container-fluid" *ngIf = "view == 'fourPage'">
      <div class="text-center">
        <h2>Publish paper</h2>
        <h4>Add document </h4>
      </div>
      <div class="row slideanim">
        <div class="col-md-8 " style="padding-bottom: 50px;">
            <div class="panel panel-default text-left">
              <div class="panel-heading text-center">
                <h1>Add document</h1>
              </div>
              <div class="panel-body">
                <br><br><br>
                <mat-radio-group class="gen-change-type">
                  <div class="gen-change-type__main">
                    <div class="gen-change-type__pdf" style="padding-left: 410px;">
                      <label >
                        <i class="temp-upload-icon" for="pdf-upload" style="cursor: pointer;">click to upload</i>
                        <input type="file" (change)="pdfOnload($event)" id='pdf-upload' accept=".pdf" multiple="false" name="file"/>
                      </label>
  
                    </div>
                  </div>
                  
                </mat-radio-group>
                <div class="gen-drop" *ngIf="isEmptyDrop == false">
                  <div class="display-pdf" >
                    <pdf-viewer [src]="pdfSrc" [render-text]="true" [original-size]="true">
                    </pdf-viewer>
                  </div>
                </div>
              
              </div>
              <div class="panel-footer text-center">
                <button class="btn btn-lg" (click) = "uploadDocument()">Upload</button>
  
              </div> 
            </div>
        </div>
        
      </div>
    </div>
  </div>
  
  
  <!-- Image of location/map -->
  <img src="/assets/pictures/magazines2.jpg" class="w3-image w3-greyscale-min" style="width:100%">

  
  
