
  <app-navbar #header (featureSelected)= "onNavigate($event)"></app-navbar>

  <div class="jumbotron text-center">
    <h1>Scientific center</h1> 
    <p>Buy your magazine today</p> 
  </div>

  <div *ngIf = "loaded == 'false'">
    <br>
    <div class="popup">
      <app-atom-spinner [animationDuration]="1000" [size]="160" [color]="'#ff1d5e'"></app-atom-spinner>
      <br>
      <h2>Loading...</h2>
    </div>
    <br>
  </div>

   <!-- Container (Pricing Section) -->
   <div id="pricing" class="container-fluid">
    <div class="text-center">
      <h2>Magazines</h2>
      <h4>Choose a magazine you want to buy</h4>
    </div>
    <div class="row slideanim">
      <ng-container *ngFor ="let m of magazines; index as i">
        <ng-container *ngFor ="let price of listPrices">
          <ng-container *ngIf = "m.uuid == price.uuid">
            <div class="col-sm-4 col-xs-12" style="padding-bottom: 50px;">
              <div class="panel panel-default text-center">
                <div class="panel-heading">
                  <h1>{{m.name}}</h1>
                </div>
                <div class="panel-body">
                  <p><strong>ISSN number:</strong> {{m.issn}}</p>
                  <p><strong>Main editor:</strong> {{m.editorialBoard.main_editor.first_name}}  {{m.editorialBoard.main_editor.last_name}}</p>
                  <p><strong>Scientific fields:</strong></p>
                  <ng-container *ngTemplateOutlet="eng; context: makeString(m)"></ng-container>
                  <ng-template #eng let-obj='value'>
                    {{obj}}
                </ng-template>
                </div><br>
                <div class="panel-footer">
                  <h3>${{price.price}}</h3>
                  <h4>month's issue</h4>
                  <button class="btn btn-lg" (click)= "buyMagazine(m)">Buy</button>
                </div>
              </div>      
            </div><br>
          </ng-container>
        </ng-container>
          
      </ng-container>
    </div>
  </div>
  
  <!-- Image of location/map -->
  <img src="/assets/pictures/magazines2.jpg" class="w3-image w3-greyscale-min" style="width:100%">

  
  
