<app-navbar #header (featureSelected)= "onNavigate($event)"></app-navbar>

<div class="jumbotron text-center">
  <h1>Scientific center</h1> 
  <p>Buy your magazine today</p> 
</div>

  <div class="text-center" *ngIf="showView == 'begin'">
    <h2><p><a style="cursor: pointer;" (click) = "showCorrectFormat()">Format</a></p></h2>
    <h2><p><a style="cursor: pointer;" (click) = "showCorrectionReview()">Review</a></p></h2>
  </div>

 <!-- Container (Pricing Section) -->
 <div id="pricing" class="container-fluid" *ngIf="showView == 'format'">
  <div *ngIf = "loaded == 'false'">
    <br>
    <div class="popup">
      <app-atom-spinner [animationDuration]="1000" [size]="160" [color]="'#ff1d5e'"></app-atom-spinner>
      <br>
      <h2>Loading...</h2>
    </div>
    <br>
  </div>
  <div *ngIf = "loaded == 'true'">
    <div class="text-center">
      <h2>Correct paper</h2>
      <h4>Papers that you need to correct</h4>
    </div>
    <div class="row slideanim">
      <ng-container *ngFor ="let task of tasks; let index;">
        <div class="col-md-8" style="padding-bottom: 50px;">
          <form #f="ngForm"  ngNativeValidate>
              <div class="panel panel-default text-center">
              <div class="panel-heading">
                  <h1>Correct paper</h1>
              </div>
              <div class="panel-body">
                <br>
                <ng-container *ngFor="let field of task.formFields">
                  <ng-container *ngIf="field.name == 'Title' || field.name == 'Keywords' || field.name == 'Abstract'">
                    <label for={{field.name}}>{{field.name}}</label>
                    <input type="text" name={{field.name}} ngModel= "{{field.value.value}}"  *ngIf="field.value.type=='string' " required >
                  </ng-container>
  
                  <ng-container *ngIf="field.name == 'file_name'">
                    <br><br>
                    <strong><a style="cursor: pointer;" (click) = "loadPicture(field.value.value)">See old file</a></strong>
                    <br><br>
                  </ng-container>
  
                  <ng-container *ngIf="field.name == 'comment_format'">
                    <br><br>
                    <p><strong>Comment from editor: </strong> {{field.value.value}}</p>
                  </ng-container>
  
                </ng-container>
                <br><br>
                <mat-radio-group class="gen-change-type">
                  <div class="gen-change-type__main">
                    <div class="gen-change-type__pdf" style="padding-left: 410px;">
                      <label >
                        <i class="temp-upload-icon" for="pdf-upload" style="cursor: pointer;">click to upload</i>
                        <input type="file" (change)="pdfOnload($event)" id='pdf-upload' accept=".pdf" multiple="false" name="file"/>
                      </label>
  
                    </div>
                  </div>
                  
                </mat-radio-group>
                <div class="gen-drop" *ngIf="isEmptyDrop == false">
                  <div class="display-pdf" >
                    <pdf-viewer [src]="pdfSrc" [render-text]="true" [original-size]="true">
                    </pdf-viewer>
                  </div>
                </div>
              </div><br>
              <div class="panel-footer">
                <button class="btn btn-lg" (click)= "confirm(f.value, index)">Confirm</button>
              </div>
              </div> 
          </form>
  
        </div><br>
            
      </ng-container>
    </div>
  </div>
  
</div>

<!-- Container (Pricing Section) -->
<div class="container-fluid bg-grey text-center" *ngIf="showView == 'review'">
  <div *ngIf = "loaded == 'false'">
    <br>
    <div class="popup">
      <app-atom-spinner [animationDuration]="1000" [size]="160" [color]="'#ff1d5e'"></app-atom-spinner>
      <br>
      <h2>Loading...</h2>
    </div>
    <br>
  </div>
  <div *ngIf = "loaded == 'true'">
    <div class="text-center">
      <h2>Correct paper after review</h2>
      <h4>Papers that you need to correct</h4>
    </div>
    <div class="row slideanim">
      <ng-container *ngFor ="let task of tasksR; let index;">
        <div class="col-md-8" style="padding-bottom: 50px;">
          <form #f="ngForm"  ngNativeValidate>
              <div class="panel panel-default text-center">
              <div class="panel-heading">
                  <h1>Correct paper</h1>
              </div>
              <div class="panel-body">
                <br>
                <ng-container *ngFor="let field of task.formFields">
                  <ng-container *ngIf = "field.name == 'list_reviews'">
                    <div *ngFor = "let e of field.value.value">
                      <br>
                      <p><strong>Reviewer info</strong></p>
                      <p><strong>Name: </strong>{{e.first_name}} {{e.last_name}}</p>
                      <p><strong>Comment: </strong>{{e.comment_author}}</p>
                    </div>
                  </ng-container>
  
  
                  <ng-container *ngIf="field.name == 'file_name'">
                    <br><br>
                    <strong><a style="cursor: pointer;" (click) = "loadPicture(field.value.value)">See old file</a></strong>
                    <br><br>
                  </ng-container>
  
                  <ng-container *ngIf="field.name == 'deadline'">
                    <br><br>
                    <p><strong>Deadline: </strong> {{field.value.value}}</p>
                  </ng-container>
  
                  <ng-container *ngIf ="field.name == 'author_comment'">
                    <br>
                    <p><strong>Leave comment for editor:</strong></p>
                    <textarea name={{field.name}} ngModel rows="10" cols="100"></textarea>
                    <br>
                  </ng-container>
  
                </ng-container>
                <br><br>
                <mat-radio-group class="gen-change-type">
                  <div class="gen-change-type__main">
                    <div class="gen-change-type__pdf" style="padding-left: 410px;">
                      <label >
                        <i class="temp-upload-icon" for="pdf-upload" style="cursor: pointer;">click to upload</i>
                        <input type="file" (change)="pdfOnload($event)" id='pdf-upload' accept=".pdf" multiple="false" name="file"/>
                      </label>
  
                    </div>
                  </div>
                  
                </mat-radio-group>
                <div class="gen-drop" *ngIf="isEmptyDrop == false">
                  <div class="display-pdf" >
                    <pdf-viewer [src]="pdfSrc" [render-text]="true" [original-size]="true">
                    </pdf-viewer>
                  </div>
                </div>
              </div><br>
              <div class="panel-footer">
                <button class="btn btn-lg" (click)= "confirm(f.value, index)">Confirm</button>
              </div>
              </div> 
          </form>
  
        </div><br>
            
      </ng-container>
    </div>
  </div>
  
</div>

<!-- Image of location/map -->
<img src="/assets/pictures/magazines2.jpg" class="w3-image w3-greyscale-min" style="width:100%">

<footer class="container-fluid bg-4 text-center">
  <p>Scientific center</p>
  <p>@Bojana Corilic</p>
  <p>Novi Sad,Serbia 2020</p>
</footer>

