h2 {
  font-size: 24px;
  text-transform: uppercase;
  color: #303030;
  font-weight: 600;
  margin-bottom: 30px;
}
h4 {
  font-size: 19px;
  line-height: 1.375em;
  color: #303030;
  font-weight: 400;
  margin-bottom: 30px;
}  
.jumbotron {
  background-color: #208b74;
  color: #fff;
  padding: 100px 25px;
  font-family: Montserrat, sans-serif;
}
.container-fluid {
  padding: 60px 50px;
}
.bg-grey {
  background-color: #f6f6f6;
}
.logo-small {
  color: #208b74;
  font-size: 50px;
}
.logo {
  color: #208b74;
  font-size: 200px;
}
.thumbnail {
  padding: 0 0 15px 0;
  border: none;
  border-radius: 0;
}
.thumbnail img {
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
}
.carousel-control.right, .carousel-control.left {
  background-image: none;
  color: #208b74;
}
.carousel-indicators li {
  border-color: #208b74;
}
.carousel-indicators li.active {
  background-color: #208b74;
}
.item h4 {
  font-size: 19px;
  line-height: 1.375em;
  font-weight: 400;
  font-style: italic;
  margin: 70px 0;
}
.item span {
  font-style: normal;
}
.panel {
  border: 1px solid #208b74; 
  border-radius:0 !important;
  transition: box-shadow 0.5s;
}
.panel:hover {
  box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.panel-footer .btn:hover {
  border: 1px solid #208b74;
  background-color: #fff !important;
  color: #208b74;
}
.panel-heading {
  color: #fff !important;
  background-color: #208b74 !important;
  padding: 25px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.panel-footer {
  background-color: white !important;
}
.panel-footer h3 {
  font-size: 32px;
}
.panel-footer h4 {
  color: #aaa;
  font-size: 14px;
}
.panel-footer .btn {
  margin: 15px 0;
  background-color: #208b74;
  color: #fff;
}
.navbar {
  margin-bottom: 0;
  background-color: #208b74;
  z-index: 9999;
  border: 0;
  font-size: 12px !important;
  line-height: 1.42857143 !important;
  letter-spacing: 4px;
  border-radius: 0;
  font-family: Montserrat, sans-serif;
}
.navbar li a, .navbar .navbar-brand {
  color: #fff !important;
}
.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #208b74 !important;
  background-color: #fff !important;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}
footer .glyphicon {
  font-size: 20px;
  margin-bottom: 20px;
  color: #208b74;
}
.slideanim {visibility:hidden;}
.slide {
  animation-name: slide;
  -webkit-animation-name: slide;
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  visibility: visible;
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(70%);
  } 
  100% {
    opacity: 1;
    -webkit-transform: translateY(0%);
  }
}
@media screen and (max-width: 768px) {
  .col-sm-4 {
    text-align: center;
    margin: 25px 0;
  }
  .btn-lg {
    width: 100%;
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 480px) {
  .logo {
    font-size: 150px;
  }
}

.sticky {
  background: #fff;
  box-shadow: 0 3px 12px 0 rgba(0,0,0,.08);
  position: fixed;
  top: 0;
  height: 120px;
  width: 100%;
}

:host {
  background: rgba(0, 0, 0, 0.1);
}

.content {
  padding-top: 75px;
}

.page {
  height: 50vh;
}

.page:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.1);
}

.page:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
}

input[type=text], [type=number],select{
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  
}
label {
width:250px;
clear:left;
text-align:right;
padding-right:10px;
float:left;
}

.button {
display: inline-block;
padding: 10px 15px;
font-size: 24px;
cursor: pointer;
text-align: center;
text-decoration: none;
outline: none;
color: #fff;
background-color: #4CAF50;
border: none;
border-radius: 15px;
box-shadow: 0 9px #999;
position:relative;
}

.button:hover {background-color: #3e8e41}

.button:active {
background-color: #3e8e41;
box-shadow: 0 5px #666;
transform: translateY(4px);
}

input[type='file'] {
display: none;
}
.main {
min-width: 875px;
margin-top: 35px;
height: calc(99vh - 35px);
min-height: calc(580px - 35px);
padding: 0 150px;
width: calc(100% - 300px);
}

.main-form {
display: flex;
flex-direction: column;
width: 100%;
height: 100%;
min-height: 490px;
}

.gen-header {
display: flex;
justify-content: space-between;
width: 100%;
min-width: 875px;
margin: 0 auto;
box-sizing: border-box;
}

.gen-change-type {
display: flex;
width: 100%;
height: 65px;
justify-content: space-between;
min-width: 875px;
}
.gen-change-type:input[type='radio'],label,i {
cursor: pointer;
}
.gen-change-type:checked, label{
color: #4b4b4b;

}
.gen-change-type:i{
margin: 0 10px;
}
.gen-change-type__main:div {
  margin-right: 45px;
}
.gen-btn {
margin-top: 35px;
}

/** 
* material 預設高度 : 256px , 
* outer-tofix-perfect-scrollbar height 必須小於 [material default height]. 
* @example data: 255px(boxsizing) || 254px (without boxsizing) 
*/
.outer-tofix-perfect-scrollbar {
background-color: #fff;
height: 254px;
}
.outer-minfix-perfect-scrollbar {
background-color: #fff;
min-height: 254px;
}

/* drop */
.gen-drop {
display: flex;
width: 100%;
height: 500px;
/* header 73 +  type 18+15 +btn 50 + bottom  40*/
}
.dropzone {
min-height: 300px;
width: 100%;
height: 100%;
min-width: 875px;
border: 1px solid #c8c8c8;
border-radius: 6px;
}
.centered {
font-weight: bold;
text-align: center;
margin: 25px 0 15px 0;
}
.centered-sub {
text-align: center;
}
.centered-icon {
margin: 0 auto;
width: 70px;
height: 70px;
background-color: #787878;
}
.mat-custom-btn {
width: 120px;
height: 30px;
color: #fff;
background-color: #16a7ba;
border-radius: 15px;
text-align: center;

}

.mat-custom-btn:hover{
background-color: #28c2d6;

}

.mat-custom-btn:active{
background-color: #088d9e;

}
/* header */
.header {
display: flex;
position: relative;
}
.header__left {
display: flex;
position: absolute;
align-items: center;
width: 80px;
margin-top: 25px;
margin-left: 40px;
z-index: 5;
}
.icon-cancel {
display: flex;
position: relative;
align-items: center;
flex-direction: column;
width: 50px;
height: 60px;
padding-right: 20px;
border-right: 1px solid gray;
user-select: none;
cursor: pointer;
}
.icon-cancel:hover > .font-14-gray {
color: rgb(255, 119, 85);
}
.icon-cancel:hover > .icn-btn-2626_cancel {
background-position: calc(-26px * 0) -26px;
}
.icn-btn-2626_cancel {
margin: 10px 0;
}
.font-14-gray {
font-size: 14px;
font-family: 'Lato', sans-serif;
color: #828282;
}
.icn-btn-2626 {
width: 26px;
height: 26px;
background-color: #498046;
}
.override-mat-header-width {
width: calc(100% - 20px);

}

.override-mat-header-width:not(:last-child){
margin-right: 20px;

}
/* temp */
.temp-upload-icon {
display: block;
width: 100px;
white-space: nowrap;
color: #000;
min-height: 5px;
background-color: #ff7755;
}

.question {
position: fixed;
width: 50px;
height: 50px;
background-color: #ff7755;
bottom: 40px;
right: 40px;
border-radius: 50%;
cursor: pointer;

}

.question::after{
width: 24px;
  height: 24px;
  font-weight: bold;
  content: '?';
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50%;
}
.display-sheet-js {
width: 100%;
height: 100%;
overflow: auto;
}
.sheet-outer {
display: flex;
border: 1px solid;
white-space: nowrap;
}
.sheet-display {
display: flex;
border: 1px solid red;
}

/* cdk table */
.example-container {
height: 400px;
width: 550px;
overflow: auto;
width: 100%;
height: 100%;
position: relative;
}

.example-container::after {
content: 'Loading...';
position: absolute;
top: 0;
left: 0;
padding: 10px;
height: 25px;
width: 50%;
}
/* // .example-container::after {
//   content: '';
//   position: absolute;
//   background-color: #fff;
//   bottom: 0;
//   left: 0;
//   height: 25px;
//   width: calc(100% - 1px);
//   border-top: 1px solid #dcdcdc;
//   border-bottom: 1px solid #dcdcdc;
//   z-index: 10;
// }
// .example-container::before {
//   content: '';
//   position: absolute;
//   background-color: #fff;
//   top: 0;
//   right: 0;
//   height: 100%;
//   width: 25px;
//   border-right: 1px solid #dcdcdc;
//   border-left: 1px solid #dcdcdc;
//   z-index: 10;
// } */

table {
width: 800px;
text-align: center;
box-sizing: border-box;

}

tr {
background-color: #28c2d6;
}

th.cdk-header-cell {
white-space: nowrap;
padding: 0 30px;
background-color: #e7f6f8;

}

th.cdk-header-cell:first-child{
padding: 0 15px;
}
th.cdk-header-cell:first-child::before{
background-color: #e7f6f8;
}

@media all and (-ms-high-contrast: none) {
/* IE11 */
*::-ms-backdrop,
.cdk-table-sticky:before {
  content: none !important;
}
*::-ms-backdrop,
td.cdk-cell:first-child {
  border: 1px solid #dcdcdc;
}
*::-ms-backdrop,
th.cdk-header-cell {
  border: 1px solid #dcdcdc;
}
}
td.cdk-cell:first-child {
box-sizing: border-box;
background-color: #e7f6f8;
}

td.cdk-cell:not(:first-child) {
background-color: #fff;
padding: 0 15px;
border: 1px solid #dcdcdc;
}
.cdk-table-sticky::before {

  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #dcdcdc;
  box-sizing: border-box;

}

/* radio btn */

.mat-radio-checked {
color: #4b4b4b;
}

/* pdf */

.display-pdf {
height: 100%;
width: 100%;
border: 2px solid;
overflow: auto;
}

.ng2-pdf-viewer-container {
overflow-x: initial !important;
}
::ng-deep .ng2-pdf-viewer-container {
overflow-x: initial !important;
}

/* 右側 tab */
.gen-excel-tab {
display: flex;
}
::ng-deep .mat-form-field-wrapper {
padding-bottom: 13.5px !important;
}
.gen-excel-tab .mat-select {
font-weight: bold;
font-family: 'montserrat_b', sans-serif;
}

.excel-tab-prev,
.excel-tab-next {
width: 0;
height: 0;
margin: 8px 10px;
border-style: solid;
cursor: pointer;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
