<app-navbar #header (featureSelected)= "onNavigate($event)"></app-navbar>

<div class="jumbotron text-center">
  <h1>Scientific center</h1> 
  <p>Buy your magazine today</p> 
</div>

<div *ngIf="loaded == 'false'">
  <br>
  <div class="popup">
    <app-atom-spinner [animationDuration]="1000" [size]="160" [color]="'#ff1d5e'"></app-atom-spinner>
    <br>
    <h2>Loading...</h2>
  </div>
  <br>
</div>

<div *ngIf="loaded == 'true'">
  <div id="pricing" class="container-fluid" *ngIf = "view == 'firstPage'">
    <div class="text-center">
      <h2>Add magazine</h2>
      <h4>Please enter info below</h4>
    </div>
    <div class="row slideanim">
      <div class="col-md-8 " style="padding-bottom: 50px;">
        <form #f="ngForm" (ngSubmit)="f.form.valid && onNext(f.value)" ngNativeValidate>
          <div class="panel panel-default text-left">
            <div class="panel-heading text-center">
              <h1>Magazine info</h1>
            </div>
            <div class="panel-body">
              <br><br>
              <ng-container *ngFor="let field of formFields">
                <label style="padding-right: 50px;padding-left: 20px;" for={{field.name}}>{{field.name}}</label>
                <input type="text" name={{field.name}} ngModel  *ngIf="field.value.type=='string' " required >
                
                <input type="checkbox" name={{field.name}} ngModel  *ngIf="field.value.type=='boolean'">
                <input type="number" name={{field.name}} ngModel  *ngIf="field.value.type=='long'" required>
                <ng-container *ngIf ="field.value.type == 'enum'">
                  <select name="{{field.name}}" ngModel *ngIf="field.value.type=='enum'">
                    <option *ngFor="let val of enumValues" [ngValue]=val>
                      {{field.value.value[val]}}
                    </option>
                  </select>
                </ng-container>
              </ng-container>
            </div>
            <div class="panel-footer text-center">
              <button class="btn btn-lg">Next</button>
            </div> 
          </div>
        </form>
      </div>
    </div>
  </div>
  
  <div id="pricing" class="container-fluid" *ngIf = "view == 'secondPage'">
    <div class="text-center">
      <h2>Add scientific area</h2>
      <h4>Please choose scientific area</h4>
    </div>
    <div class="row slideanim">
      <div class="col-md-8 " style="padding-bottom: 50px;">
        <form #f="ngForm" ngNativeValidate>
          <div class="panel panel-default text-left">
            <div class="panel-heading text-center">
              <h1>Scientific area</h1>
            </div>
            <div class="panel-body">
              <br><br>
              <ng-container *ngFor="let item of createRange('Scientific area'); let index;">
                <ng-container *ngFor="let field of formFieldsSecond">
                  <ng-container *ngIf ="field.value.type == 'enum' && field.name == 'Scientific area'">
                    <label for={{field.name}}>{{field.name}}</label>
                    <select name="{{index}}" ngModel *ngIf="field.value.type=='enum'">
                      <option *ngFor="let val of enumValues" [ngValue]=val>
                        {{val.title}}
                      </option>
                    </select>
                  </ng-container> 
                </ng-container>
              </ng-container>
            </div><br>
            <div class="panel-footer text-center">
              <button class="btn btn-lg" (click)="cancelClicked()">Cancel</button>
              <div class="divider"></div>
              <button class="btn btn-lg" (click)="onSubmit(f.value)">Next</button>
            </div> 
          </div>
        </form>
      </div>
    </div>
  </div>
  
    <div id="pricing" class="container-fluid" *ngIf = "view == 'thirdPage'">
      <div class="text-center">
        <h2>Add reviewers and editors</h2>
        <h4>Please choose reviewers and editors to add to magazine</h4>
      </div>
      <div class="row slideanim">
        <ng-container *ngFor= "let task of tasks;let a;">
  
          <div class="col-md-6 " style="padding-bottom: 50px;">
            <form #f="ngForm" (ngSubmit)="f.form.valid && onNextTask(f.value,a)" ngNativeValidate>
              <div class="panel panel-default text-left">
                <div class="panel-heading text-center">
                  <h1>Enter info below</h1>
                </div>
                <div class="panel-body">
                  <br><br>
                  <ng-container *ngFor="let field of task.formFields">
                    <ng-container *ngIf="field.name == 'Add Editor' || field.name == 'Add Reviewer'">
                      <div *ngFor="let item of createRange(field.name); let index;">
                          <label for={{field.name}}>{{field.name}}</label>
                          <select name="{{index}}" ngModel *ngIf="field.value.type=='enum'">
                            <ng-container *ngIf= "field.name == 'Add Reviewer'">
                              <option *ngFor="let val of enumR" [ngValue]=val>
                                {{val.username}}
                              </option>
                            </ng-container>
                            <ng-container *ngIf= "field.name == 'Add Editor'">
                              <option *ngFor="let val of enumE" [ngValue]=val>
                                {{val.username}}
                              </option>
                            </ng-container>             
                          </select>
                      </div>
                    </ng-container>
  
                    <ng-container *ngIf="field.name != 'Add Editor' && field.name != 'Add Reviewer' && 
                    field.name != 'all_reviewers_list' && field.name != 'all_editors_list'">
                      <label for={{field.name}}>{{field.name}}</label>
                      <input type="text" name={{field.name}} ngModel  *ngIf="field.value.type=='string' " required >
                      
                      <input type="checkbox" name={{field.name}} ngModel  *ngIf="field.value.type=='boolean'">
                      <input type="number" name={{field.name}} ngModel  *ngIf="field.value.type=='long'" required>
                      <ng-container *ngIf ="field.value.type == 'enum'">
                        <select name="{{field.name}}" ngModel *ngIf="field.value.type=='enum'">
                          <option *ngFor="let val of enumValues" [ngValue]=val>
                            {{field.value.value[val]}}
                          </option>
                        </select>
                      </ng-container> 
                    </ng-container>
  
                  </ng-container>
                </div><br>
                <div class="panel-footer text-center">
                  <button class="btn btn-lg">Next</button>
                </div> 
              </div>
            </form>
          </div>
        </ng-container>
  
      </div>
    </div>
  
    <div class ="main" *ngIf = "view == 'fourPage'">
      <h3>Please enter info below</h3><br>
      <form #f="ngForm" (ngSubmit)="f.form.valid && onNext(f.value)" ngNativeValidate>
      
        <div class="" *ngFor="let field of formFields">
            <label for={{field.name}}>{{field.name}}</label>
            <br><input type="text" name={{field.name}} ngModel= "{{field.value.value}}"  *ngIf="field.value.type=='string' " required >
            
            <input type="checkbox" name={{field.name}} ngModel= "{{field.value.value}}"  *ngIf="field.value.type=='boolean'">
            <input type="number" name={{field.name}} ngModel= "{{field.value.value}}"  *ngIf="field.value.type=='long'" required>
            <ng-container *ngIf ="field.value.type == 'enum'">
              <select name="{{field.name}}" ngModel= "{{field.value.value}}" *ngIf="field.value.type=='enum'">
                <option *ngFor="let val of enumValues" [ngValue]=val>
                  {{field.value.value[val]}}
                </option>
              </select>
            </ng-container> 
        </div>
        
        <div class="buttons" style="padding-left: 20px;">
          <button class="submit">Next</button>
        </div>
      </form>
    </div>
  
    <!-- Image of location/map -->
  <img src="/assets/pictures/magazines2.jpg" class="w3-image w3-greyscale-min" style="width:100%">
  
  <footer class="container-fluid bg-4 text-center">
    <p>Scientific center</p>
    <p>@Bojana Corilic</p>
    <p>Novi Sad,Serbia 2020</p>
  </footer>
  
  
</div>

