
<app-navbar #header (featureSelected)= "onNavigate($event)"></app-navbar>

<div class="jumbotron text-center">
  <h1>Scientific center</h1> 
  <p>Buy your magazine today</p> 
</div>

 <!-- Container (Pricing Section) -->
 <div id="pricing" class="container-fluid">
  <div class="text-center">
    <h2>Papers for approval</h2>
    <h4>Papers that need to be approved</h4>
  </div>
  <div class="row slideanim">
    <ng-container *ngFor ="let task of tasks; let index;">
      <div class="col-md-8" style="padding-bottom: 50px;">
        <form #f="ngForm"  ngNativeValidate>
            <div class="panel panel-default text-center">
            <div class="panel-heading">
                <h1>Paper</h1>
            </div>
            <div class="panel-body">
              <br>
              <ng-container *ngFor="let field of task.formFields">
                <ng-container *ngIf ="field.name == 'Title' || field.name == 'Keywords' ||
                field.name == 'Abstract'">
                    <p><strong>{{field.name}}: </strong> {{field.value.value}}</p>
                </ng-container>
                <ng-container *ngIf ="field.name == 'magazine'">
                  <p><strong>Magazine: </strong></p>
                  <ng-container *ngFor ="let e of field.value.value, let i = index;">
                    <p>Name: {{e.name}}</p>
                    <p>ISSN number: {{e.issn}}</p>
                  </ng-container>   
                </ng-container>

                <ng-container *ngIf ="field.name == 'picked_field'">
                  <p><strong>Scientific field: </strong></p>
                  <ng-container *ngFor ="let e of field.value.value, let i = index;">
                    <p>{{e.title}}</p>
                  </ng-container>
                </ng-container>

                <ng-container *ngIf ="field.name == 'list_coauthors'">
                  <p><strong>Coauthors: </strong></p>
                  <ng-container *ngFor ="let r of field.value.value, let i = index;">
                    <p>{{r.first_name}} {{r.last_name}}</p>
                  </ng-container>  
                </ng-container>

                <ng-container *ngIf ="field.name == 'file_name'">
                  <br>
                  <strong><a style="cursor: pointer;" (click) = "loadPicture(field.value.value)">See file</a></strong>
                  <br>
                </ng-container>

                <ng-container *ngIf = "field.name == 'list_reviews'">
                  <div *ngFor = "let e of field.value.value">
                    <br>
                    <p><strong>Reviewer info</strong></p>
                    <p><strong>Name: </strong>{{e.first_name}} {{e.last_name}}</p>
                    <p><strong>Comment: </strong>{{e.comment_editor}}</p>
                    <p><strong>Recommendation: </strong>{{e.recommendation}}</p>
                  </div>
                </ng-container>

                <ng-container *ngIf="field.name == 'decision'">
                  <br>
                  <div *ngFor="let item of createRange(index); let index;">
                     <strong><label for={{field.name}}>Approval</label></strong><br>
                      <select name="{{field.name}}" ngModel (change)="checkForDate(t.value)" #t >
                          <option *ngFor="let val of enumR" [ngValue]=val>
                            {{val}}
                          </option>            
                      </select>
                  </div>
                </ng-container>

                <ng-container *ngIf ="field.name == 'deadline' && showDate == 'true'">
                  <br>
                  <p><strong>Deadline for correction:</strong></p>
                  <input type="date" name = "{{field.name}}" ngModel>
                </ng-container>
                
            </ng-container>

            <br>
                
            </div><br>
            <div class="panel-footer">
                <button class="btn btn-lg" (click)= "confirm(f.value, index)">Confirm</button>
            </div>
            </div> 
        </form>

      </div><br>
          
    </ng-container>
  </div>
</div>

<div class="container-fluid bg-grey text-center">
  <div class="text-center">
    <h2>Papers for approval after correction</h2>
    <h4>Papers that need to be approved</h4>
  </div>
  <div class="row slideanim">
    <ng-container *ngFor ="let task of tasksR; let index;">
      <div class="col-md-8" style="padding-bottom: 50px;">
        <form #f="ngForm"  ngNativeValidate>
            <div class="panel panel-default text-center">
            <div class="panel-heading">
                <h1>Paper</h1>
            </div>
            <div class="panel-body">
              <br>
              <ng-container *ngFor="let field of task.formFields">
                <ng-container *ngIf ="field.name == 'Title' || field.name == 'Keywords' ||
                field.name == 'Abstract'">
                    <p><strong>{{field.name}}: </strong> {{field.value.value}}</p>
                </ng-container>
                <ng-container *ngIf ="field.name == 'magazine'">
                  <p><strong>Magazine: </strong></p>
                  <ng-container *ngFor ="let e of field.value.value, let i = index;">
                    <p>Name: {{e.name}}</p>
                    <p>ISSN number: {{e.issn}}</p>
                  </ng-container>   
                </ng-container>

                <ng-container *ngIf ="field.name == 'picked_field'">
                  <p><strong>Scientific field: </strong></p>
                  <ng-container *ngFor ="let e of field.value.value, let i = index;">
                    <p>{{e.title}}</p>
                  </ng-container>
                </ng-container>

                <ng-container *ngIf ="field.name == 'list_coauthors'">
                  <p><strong>Coauthors: </strong></p>
                  <ng-container *ngFor ="let r of field.value.value, let i = index;">
                    <p>{{r.first_name}} {{r.last_name}}</p>
                  </ng-container>  
                </ng-container>

                <ng-container *ngIf ="field.name == 'file_name'">
                  <br>
                  <strong><a style="cursor: pointer;" (click) = "loadPicture(field.value.value)">See file</a></strong>
                  <br>
                </ng-container>

                <ng-container *ngIf = "field.name == 'list_reviews'">
                  <div *ngFor = "let e of field.value.value">
                    <br>
                    <p><strong>Reviewer info</strong></p>
                    <p><strong>Name: </strong>{{e.first_name}} {{e.last_name}}</p>
                    <p><strong>Comment: </strong>{{e.comment_editor}}</p>
                    <p><strong>Recommendation: </strong>{{e.recommendation}}</p>
                  </div>
                </ng-container>

                <ng-container *ngIf= "field.name == 'author_comment'">
                  <p><strong>Comment from author: </strong>{{field.value.value}}</p>
                </ng-container>

                <ng-container *ngIf="field.name == 'decision'">
                  <br>
                  <div *ngFor="let item of createRange(index); let index;">
                     <strong><label for={{field.name}}>Approval</label></strong><br>
                      <select name="{{field.name}}" ngModel (change)="checkForDate(t.value)" #t >
                          <option *ngFor="let val of enumR" [ngValue]=val>
                            {{val}}
                          </option>            
                      </select>
                  </div>
                </ng-container>

                <ng-container *ngIf ="field.name == 'deadline' && showDate == 'true'">
                  <br>
                  <p><strong>Deadline for correction:</strong></p>
                  <input type="date" name = "{{field.name}}" ngModel>
                </ng-container>
                
            </ng-container>

            <br>
                
            </div><br>
            <div class="panel-footer">
                <button class="btn btn-lg" (click)= "confirm(f.value, index)">Confirm</button>
            </div>
            </div> 
        </form>

      </div><br>
          
    </ng-container>
  </div>
</div>

<!-- Image of location/map -->
<img src="/assets/pictures/magazines2.jpg" class="w3-image w3-greyscale-min" style="width:100%">

