
  <app-navbar #header (featureSelected)= "onNavigate($event)"></app-navbar>

  <div class="jumbotron text-center">
    <h1>Scientific center</h1> 
    <p>Buy your magazine today</p> 
  </div>

   <div class="container-fluid">
      <div class="text-center">
        <h2>Subscription failed!</h2>
        <h4>Something went wrong! Please try again!</h4>
      </div>
      <div class="text-center">
        <a class ="back" (click) = "back()"><strong>Back</strong></a><br>
      </div>
      <img class ="picture" src="assets/pictures/fail-subscription.jpg">
    </div>
  
  <!-- Image of location/map -->
  <img src="/assets/pictures/magazines2.jpg" class="w3-image w3-greyscale-min" style="width:100%">

  
  
